<h1>Fluxes#index</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <% @fluxes.each do |flux| %>
        <tr>
            <td><%= flux.name %></td>
            <td><%= flux.description %></td>
        </tr>
        <% end %>
    </tbody>
</table>
