# Copy to .env and fill with your own credentials.
PORT=8080

DB_URL=jdbc:postgresql://localhost:5432/area
DB_USERNAME=area
DB_PASSWORD=area

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=http://localhost:8080/auth/google/callback

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

DEEZER_APP_ID=
DEEZER_SECRET_KEY=
DEEZER_REDIRECT_URI=http://localhost:8080/auth/deezer/callback

FRONTEND_URL=http://localhost:8081
